@use "../../assets/variables" as vars;

.product__link{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    transition: all .4s;
    flex-grow: 1;
    background-color: vars.$pink;
    &:hover{
        transform: scale(1.01);
        background-color: vars.$blue;
        color: vars.$white;
    }
    img{
        max-width: 50px;

    }
    h6{
        font-size: 20px ;
        font-weight: normal;
    }
}
.cart_info{
    padding: 20px;
    background: #e9e7e7;
    color: vars.$white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input{
        max-width: 100px;
        border-radius: none;
        margin-bottom: 20px;
        display: block;
    }
    label{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        color: #000;
    }
 
}